@page {
  size: auto;
  margin: 0mm;
}

.map_toolbar {
  position: relative;
  height: 32px;
  .ToolbarButton {
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3b8cd0;
    border: 0px;
    border-radius: 50%;

    &:hover {
      background-color: #3174ad;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .buttonWrap button {
    border-radius: 50%;
  }


  //指北针
  .northarrow {
    background-image: url(/assets/img/sprites.png);
    background-position: -144px -566px
  }


  //全屏
  .allMap {
    background-image: url(/assets/img/sprites.png);
    background-position: -112px -566px
  }

  //缩小
  .mapReduce {
    background-image: url(/assets/img/sprites.png);
    background-position: -79px -566px
  }

  //放大
  .mapMagnifying {
    background-image: url(/assets/img/sprites.png);
    background-position: -47px -566px
  }

  //测距
  .measureDistance {
    background-image: url(/assets/img/sprites.png);
    background-position: -175px -566px
  }

  //测面
  .measureFill {
    background-image: url(/assets/img/sprites.png);
    background-position: -207px -566px
  }

  //设置中心点
  .setCenter {
    background-image: url(/assets/img/sprites.png);
    background-position: -400px -566px
  }


  .print {
    background-image: url(/assets/img/sprites.png);
    background-position: -558px -565px;
  }

  //漫游
  .mapWander {
    background-image: url(/assets/img/sprites.png);
    background-position: -15px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;
    background-color: #3b8cd0;
  }

  .mapWander_hover {
    background-image: url(/assets/img/sprites.png);
    background-position: -15px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;
    background-color: #3174ad;
  }


  .ToolbarButton_class {
    //position: relative;
    position: absolute;
    //top: -7px;
    top: 3px;
    //width: 26px;
    height: 24px;
    padding-right: 1px;
    border: 0;
    margin: 0;
    color: white;
    background-color: #3b8cd0;

    float: right;
    right: 120px;
  }
  .ToolbarButton_class1 {
    //position: relative;
    position: absolute;
    //top: -7px;
    top: 3px;
    //width: 26px;
    height: 24px;
    padding-right: 1px;
    border: 0;
    margin: 0;
    color: white;
    background-color: #3b8cd0;

    float: right;
    right: 210px;
  }
  #ToolbarButton_changeMap {
    height: 28px;
    margin: 2px 0px;
    border-radius: 4px;
    position: absolute;
    float: right;
    right: 120px;
    background-repeat: no-repeat;
    // width: 80px;
    padding-bottom: 5px;
    background-color: #015eab;
    border: 0px;
    /* background-image: url(/assets/img/sprites.png); */
    /* background-position: -434px -605px; */
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 28px;
  }

  #ToolbarButton_publish {
    height: 30px;
    margin: 1px 0px;
    border-radius: 0;
    position: absolute;
    float: right;
    right: 48px;
    background-repeat: no-repeat;
    //height: 32px;
    width: 62px;
    padding-bottom: 5px;
    //margin: 0px;
    background-color: #3b8cd0;
    border: 0px;
    background-image: url(/assets/img/sprites.png);
    background-position: -433px -566px
  }

  .ToolbarButton_screen_all {
    background-image: url(/assets/img/sprites.png);
    background-position: -495px -566px;
    background-repeat: no-repeat;
    /*position: relative;
    float: right;
    right: -55px;*/
    position: absolute;
    float: right;
    right: 5px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3b8cd0;
    border: 0px;

    &:hover {
      background-color: #3174ad;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .ToolbarButton_screen {
    background-image: url(/assets/img/sprites.png);
    background-position: -445px -566px;
    background-repeat: no-repeat;
    //position: relative;
    //float: right;
    //right: -55px;
    position: absolute;
    float: right;
    right: 5px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3b8cd0;
    border: 0px;

    &:hover {
      background-color: #3174ad;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .four_button_tool {
    display: none;

  }

  #extends_button {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
  }

  .change_View {
    background-position: -271px -566px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3174ad;
    border: 0px;
    background-image: url(/assets/img/sprites.png);

    &:hover {
      background-color: #3174ad;
      background-position: -271px -566px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .change_Map {
    background-position: -240px -566px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3b8cd0;
    border: 0px;
    background-image: url(/assets/img/sprites.png);

    &:hover {
      background-color: #3174ad;
      background-position: -240px -566px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .change_View {
    background-position: -271px -566px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3174ad;
    border: 0px;
    background-image: url(/assets/img/sprites.png);

    &:hover {
      background-color: #3174ad;
      background-position: -271px -566px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .change_Map {
    background-position: -240px -566px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    padding-bottom: 5px;
    margin: 0px;
    background-color: #3b8cd0;
    border: 0px;
    background-image: url(/assets/img/sprites.png);

    &:hover {
      background-color: #3174ad;
      background-position: -240px -566px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .max_zoom {
    background-image: url(/assets/img/sprites.png);
    background-color: #3b8cd0;
    background-position: -304px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;

    &:hover {
      background-color: #3174ad;
      background-repeat: no-repeat;
      background-position: -304px -566px;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .max_zoom_hover {
    background-image: url(/assets/img/sprites.png);
    background-color: #3174ad;
    background-position: -304px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;

    &:hover {
      background-color: #3174ad;
      background-position: -304px -566px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .min_zoom {
    background-image: url(/assets/img/sprites.png);
    background-color: #3b8cd0;
    background-position: -336px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;

    &:hover {
      background-color: #3174ad;
      background-position: -336px -566px;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      background-repeat: no-repeat;
      margin: 0px;
      border: 0px;
    }
  }

  .min_zoom_hover {
    background-image: url(/assets/img/sprites.png);
    background-color: #3174ad;
    background-position: -336px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;

    &:hover {
      background-color: #3174ad;
      background-position: -336px -566;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0px;
      border: 0px;
    }
  }

  .bound {
    background-image: url(/assets/img/sprites.png);
    background-color: #3b8cd0;
    background-position: -369px -566px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    margin: 0px;
    border: 0px;
    height: 32px;
    width: 32px;

    &:hover {
      background-color: #3174ad;
      background-position: -369px -566px;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      background-repeat: no-repeat;
      margin: 0px;
      border: 0px;
    }
  }

  .bound_hover {
    background-image: url(/assets/img/sprites.png);
    background-color: #3174ad;
    background-position: -369px -566px;
    padding-bottom: 5px;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    margin: 0px;
    border: 0px;

    &:hover {
      background-color: #3174ad;
      background-position: -369px -566px;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      padding-bottom: 5px;
      margin: 0;
      border: 0;
    }
  }

  .minmax-show {
    font-size: 10px;
    display: inline-block;
    line-height: 33px;
    position: relative;
    bottom: 7px;
    color: #fff;
    /* right: 2px; */
    width: 15px;
    text-align: center;
  }
}
