<div class=" double">
  <div class="row">
    <div class="col-md-4 col-xs-4">
      <!-- <div class="beyond">{{title}}</div> -->
      <div  pTooltip="{{tooltip}}"
            positionStyle='relitive'
            hideDelay="100"
            tooltipPosition="bottom"
            class="beyond">{{title}}</div>
    </div>
    <div class="col-md-8 col-xs-8">
        <!--单个输入框-->
        <div *ngIf="(showStyle === 'undefined' || isArray) && type === 0" style="float: left">
            <span style="float: left;padding-top: 3px">
                <svg (click)="clickAdd()" fill="currentColor" preserveAspectRatio="xMidYMid meet" height="14" width="14" size="14" color="#8e8e8e" viewBox="0 0 40 40" style="vertical-align: middle; color: rgb(142, 142, 142);">
                    <g>
                        <path d="m30 6.6v5h-11.6l8.2 8.4-8.2 8.4h11.6v5h-20v-3.4l10.9-10-10.9-10v-3.4h20z"></path>
                    </g>
                </svg>
            </span>
            <input type="text" (keyup)="change($event)" [value]="model[0]" [(ngModel)]="one"  class="smx-control" style="width: 139px;margin-left: 9px;display: inline"/>
        </div>
        <div *ngIf="showStyle === 'object' && !isArray && type === 0" style="float: left">
            <div *ngFor="let num of layerInfo[attribute].stops index as i" style="margin:0 0 4px 3px">
                <i class="fa fa-trash" (click)="remove(i)"></i>
                <!--<div>{{layerInfo[attribute].stops[i][1]}}</div>-->
                <input type="number" (keyup)="test($event, i)" [value]="num[0]" [(ngModel)]="num[0]" class="smx-control" style="width: 29px;display: inline;padding: 0.15rem 0.35rem;font-size: 0.175rem"/>
                <input type="text" (keyup)="changes($event, i, 0)"  [(ngModel)]="layerInfo[attribute].stops[i][1][0]"  class="smx-control" style="width: 105px;margin-left: 9px;display: inline"/>
            </div>
            <button (click)="buttomAdd()" class="smx-btn smx-default smx-xs" style="margin-left: 120px">添加</button>
        </div>
        <!--两个输入框-->
        <div *ngIf="(showStyle === 'undefined' || isArray) && type === 1" style="float: left">
            <span style="float: left;padding-top: 3px">
                <svg (click)="clickAdd()" fill="currentColor" preserveAspectRatio="xMidYMid meet" height="14" width="14" size="14" color="#8e8e8e" viewBox="0 0 40 40" style="vertical-align: middle; color: rgb(142, 142, 142);">
                    <g>
                        <path d="m30 6.6v5h-11.6l8.2 8.4-8.2 8.4h11.6v5h-20v-3.4l10.9-10-10.9-10v-3.4h20z"></path>
                    </g>
                </svg>
            </span>
            <input type="text" (keyup)="change($event)" [value]="model[0]" [(ngModel)]="one"  class="smx-control" style="width: 139px;margin-left: 9px;display: inline"/>
            <input type="text" (keyup)="change($event)" [value]="model[1]" [(ngModel)]="two"  class="smx-control" style="width: 139px;margin:4px 0 0 23px;display: inline"/>
        </div>
        <div *ngIf="showStyle === 'object' && !isArray && type === 1" style="float: left">
            <div *ngFor="let num of layerInfo[attribute].stops index as i" style="margin:0 0 4px 3px">
                <i class="fa fa-trash" (click)="remove(i)"></i>
                <input type="number" (keyup)="test($event, i)" [value]="num[0]" [(ngModel)]="num[0]" class="smx-control" style="width: 29px;display: inline;padding: 0.15rem 0.35rem;font-size: 0.175rem"/>
                <input type="number" (keyup)="changes($event, i, 0)" [(ngModel)]="layerInfo[attribute].stops[i][1][0]"  class="smx-control" style="width: 105px;margin-left: 9px;display: inline"/>
                <input type="number" (keyup)="changes($event, i, 1)" [(ngModel)]="layerInfo[attribute].stops[i][1][1]"  class="smx-control" style="width: 105px;margin:4px 0 0 53px;display: inline"/>
           </div>
            <button (click)="buttomAdd()" class="smx-btn smx-default smx-xs" style="margin-left: 120px">添加</button>
        </div>
        <!--4个输入框-->
        <div *ngIf="(showStyle === 'undefined' || isArray) && type === 2" style="float: left">
            <span style="float: left;padding-top: 3px">
                <svg (click)="clickAdd()" fill="currentColor" preserveAspectRatio="xMidYMid meet" height="14" width="14" size="14" color="#8e8e8e" viewBox="0 0 40 40" style="vertical-align: middle; color: rgb(142, 142, 142);">
                    <g>
                        <path d="m30 6.6v5h-11.6l8.2 8.4-8.2 8.4h11.6v5h-20v-3.4l10.9-10-10.9-10v-3.4h20z"></path>
                    </g>
                </svg>
            </span>
            <input type="text"  (keyup)="change($event)" [value]="model[0]" [(ngModel)]="one"  class="smx-control" style="width: 139px;margin-left: 9px;display: inline"/>
            <input type="text"  (keyup)="change($event)" [value]="model[1]" [(ngModel)]="two"  class="smx-control" style="width: 139px;margin:4px 0 0 23px;display: inline"/>
            <input type="text"  (keyup)="change($event)" [value]="model[2]" [(ngModel)]="three"  class="smx-control" style="width: 139px;margin:4px 0 0 23px;display: inline"/>
            <input type="text"  (keyup)="change($event)" [value]="model[3]" [(ngModel)]="four"  class="smx-control" style="width: 139px;margin:4px 0 0 23px;display: inline"/>
        </div>
        <div *ngIf="showStyle === 'object' && !isArray && type === 2" style="float: left">
            <div *ngFor="let num of layerInfo[attribute].stops index as i" style="margin:0 0 4px 3px">
                <i class="fa fa-trash" (click)="remove(i)"></i>
                <input type="number" (keyup)="test($event, i)" [value]="num[0]" [(ngModel)]="num[0]" class="smx-control" style="width: 29px;display: inline;padding: 0.15rem 0.35rem;font-size: 0.175rem"/>
                <input type="number" (keyup)="changes($event, i, 0)" [(ngModel)]="layerInfo[attribute].stops[i][1][0]"  class="smx-control" style="width: 105px;margin-left: 9px;display: inline"/>
                <input type="number" (keyup)="changes($event, i, 1)" [(ngModel)]="layerInfo[attribute].stops[i][1][1]"  class="smx-control" style="width: 105px;margin:4px 0 0 54px;display: inline"/>
                <input type="number" (keyup)="changes($event, i, 2)" [(ngModel)]="layerInfo[attribute].stops[i][1][2]"  class="smx-control" style="width: 105px;margin:4px 0 0 54px;display: inline"/>
                <input type="number" (keyup)="changes($event, i, 3)" [(ngModel)]="layerInfo[attribute].stops[i][1][3]"  class="smx-control" style="width: 105px;margin:4px 0 0 54px;display: inline"/>
            </div>
            <button (click)="buttomAdd()" class="smx-btn smx-default smx-xs" style="margin-left: 120px">添加</button>
        </div>
    </div>
  </div>
</div>
