@mixin rotate($deg) {
  transform: $deg;
  -webkit-transform: $deg;
  -moz-transform: $deg;
  -o-transform: $deg;
}

//.jsEditCont {
//  height: 100%;
//}
//
//.jsEditor {
//  height: calc(100% - 30px);
//}

.saveBar {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #333;
  padding: 0 10px;
  text-align: right;
  background: #e7ecee;
  overflow: hidden;

  button{
    border:none;
    background: none;
  }

  span.show {
    display: inline-block;
    font-size: 14px;
    color: #3aa4fc;
    float: left;
    margin-left: 20px;
  }
}

.saveBar .fa {
  font-size: 20px;
  margin-right: 5px;
  color: #3aa4fc;
  cursor: pointer;
}

.jsWrap {
  height: 100%;
  transition: all 0.3s;
  position: relative;

}

.jsWrap.fullScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  transition: all 0.3s;
}

.jsdiv {
  height: calc(100% - 30px);
  width: 100%;
  position: relative;
}

#jsEditor {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.jsDraw {
  h5 {
    margin: 20px 5px 5px;
    color: #1890ff;
    font-weight: 600;
  }

  &-theme {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    max-height: 400px;
    overflow-y: auto;

    &-item {
      display: block;

      &:hover {
        background: #ccc;
      }
    }
  }

  //&-theme::-webkit-scrollbar {
  //  width: 1px;
  //  height: 1px;
  //}

  &-font {
    //border: 1px solid #ccc;
    //border-radius: 5px;
    padding: 5px;
    margin: 10px;
    //height: 50px;
  }
}
