<nz-collapse>
  <nz-collapse-panel [nzHeader]="'代码编辑'" [nzActive]="true">
    <div class="jsonWrap" id="jsonWrap" style="padding:15px;" >
        <textarea name="json2" id="json2" cols="30" rows="10" (keyup)="validateJson()"  [(ngModel)]="jsonData">
        </textarea>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<!--<ngb-accordion #acc="ngbAccordion"-->
               <!--(panelChange)="beforeChange($event)"-->
               <!--[activeIds]="['code']">-->
  <!--<ngb-panel id="code">-->
    <!--<ng-template ngbPanelTitle>-->
      <!--<span style="color: #273D56;">代码编辑</span>-->
      <!--<span class="float-right fa fa-sort-up ngb-sort ngb-sort-up"></span>-->
    <!--</ng-template>-->
    <!--<ng-template ngbPanelContent>-->
      <!--<div class="jsonWrap" id="jsonWrap" style="padding:15px;" >-->
        <!--<textarea name="json2" id="json2" cols="30" rows="10" (keyup)="validateJson()"  [(ngModel)]="jsonData">-->
        <!--</textarea>-->
      <!--</div>-->
    <!--</ng-template>-->
  <!--</ngb-panel>-->
<!--</ngb-accordion>-->
