.container-fluid {
  font-size: 12px;
  font-family: '微软雅黑';
}

/*_______________________组件部分*/
.input-pattern {
  .imgStyle {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
  }
  .iconStyle {
    width: 412px;
    height: 182px;
    background: white;
    border-radius: 3px;
    z-index: 100;
    .nav-link {
      cursor: pointer;
    }
  }
  .imgPosition {
    //width: 32px;
    //height: 32px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #e4c6c6;
    //background: url("../../../../assets/img/sprite2@2x.png");
    /*background-position: -32px -32px;*/
  }
  .btn-xs {
    padding: 0.15rem 0.28rem;
    font-size: 0.575rem;
    line-height: 1.4;
    border-radius: 0.2rem;
  }
  .form-control-xs {
    padding: 0.10rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    height: 26.19px;
  }
  .card-header {
    padding: 0.45rem 0.85rem;
    background-color: #e7ecee;
  }
  .card-body {
    padding: 0;
  }
  .card-body {
    padding: 0;
  }
  .info-body {
    font-size: 13px;
  }
  .row {
    margin-bottom: 4px;
  }
  .beyond {
    line-height: 26.19px;
    width: 90px;
    text-align: left;
    cursor: help;
    
  }
  .p-slide {
    width: 108px;
    display: inline-block;
    position: relative;
    margin: 15px 3px 0 10px;
    //left: 5px;
  }
  .p-slides {
    width: 70px;
    display: inline-block;
    position: relative;
    margin: 15px 3px 0 10px;
    //left: 5px;
  }
  .info-header {
    width: 300px;
    height: 30px;
    line-height: 30px;
    background-color: #e7ecee;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .svg-disabled {
    fill:#8F8E8E;
    cursor: auto;
  }
  svg {
    fill: #273d56;
    cursor: pointer;
  }
  svg:hover {
    fill: #8e8e8e;
  }
  i {
    cursor: pointer;
    margin-right: 5px;
  }
  @media (min-width: 168px) {
    .col-xs-4 {
      flex: 33%;
      max-width: 33%;
    }
    .col-xs-8 {
      flex: 67%;
      max-width: 67%;
    }

  }
  .iconButton {
    background: url("../../../../assets/img/icons.png") #c6d2e1 no-repeat;
    background-position: 5px 6px;
  }
  .navTitle {
    background-color: #f4f7fb;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .navLink {
    /* padding:6px 10.8px;*/
    width: 45.70px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    display: block;
    cursor: pointer;
  }
  .navLink:hover {
    /*border: 1px solid #ccc;
    border-bottom: none;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #d5d7da;
  }

  //.sprite-list {
  //  ::-webkit-scrollbar {
  //    width: 3px;
  //  }
  //}
  .smx-tooltip{
    background-color: #8e8e8e;
    color: #273d56;
    font-size: 200px;
  }

  //表达式框
  .layerEditNum-smartMapX-select-checkAll {
    position: fixed;
    left: 430px;
    border-bottom: 1px #1111;
    z-index: 1000;
    top: 199px;
    width: 150px;
    height: 218px;
    box-shadow: 0px 3px 3px #ddd;
    border-spacing: 2px;
    border-collapse: initial;
    background-color: #fff;

    table{
      width:100%;
    }
  }
.layerEditNum-smartMapX-select-tableTitle {
    height: 30px;
    line-height: 30px;
    padding:0 10px;
    background: #0d5bdcb5;
}
.layerEditNum-smartMapX-select-titleTop{
    position: relative;
    left: 31%;
    color: white;
}
.layerEditNum-smartMapX-select-info {
    height: 150px;
    margin:0px 0px 0;
    background: #f4fafa;
    position: relative;
    top: 0px;
    border-bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;

    //&::-webkit-scrollbar-thumb {
    //  background:#aaa;
    //}
}
.layerEditNum-smartMapX-select-trtd{
    position: relative;
    left: 4px;
  }
.layerEditNum-smartMapX-select-trtd:hover {
    color: #3887be;
    cursor: pointer;
}
.layerEditNum-checkbox-label{
    width:80%;
    font-size:14px;
    cursor: pointer;

    &:hover{
      color:#276eae;
    }
  }
.layerEditNum-smartMapX-select-tranline {
    width: 216px;
    height: 1px;
    margin: 0px auto;
    padding: 0px;
    background-color: #aaa;
    overflow: hidden;
    position: relative;
    top: -4px;
    left: -5px;
    cursor: pointer;
}

.layerEditNum-smartMapx-button{
    border: 1px solid #aaa;
    width: 30px;
    display: block;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background: #d5d5d5;
}
.jia{
    position: relative;
    left: 5px; 
    line-height: 16px;
}
.jian{
    position: relative;
    left: 40px;
    top: -20px;
    line-height: 16px;
}
.cheng{
    position: relative;
    left: 75px;
    top: -40px;
    line-height: 22px;
}
.chu{
    position: relative;
    left: 110px;
    top: -60px;
    line-height: 16px;
} 
.smart-EXXX{
  float: right;
}
//表达式框
}
