

.test-panel {
    //position: absolute;
    ////left: 240px;
    //right: 0;
    //top: 70px;
    //bottom: 0;
    //padding: 15px 20px 0;
    //overflow: auto;
    //display: inline-block;
    //box-orient: vertical;
    //flex-direction: column;
    .btn-grid {
        height: 40px;
        padding: 0 15px 15px;
        background: #fff;
        .btn {
            padding: 4px 20px;
            font-size: 12px;
            margin-right: 10px;
        }
    }
    .right-filter-box {
        background: #fff;
        padding: 15px;
        .right-filter-title {
            height: 45px;
            line-height: 30px;
            color: #666;
            span {
                font-size: 14px;
            }
            .float-right {
                font-size: 12px;
                cursor: pointer;
            }
        }
        .right-filter-body {
            background: #eee;
            margin: 0;
            position: relative;
            padding-bottom: 60px;
            padding-top: 20px;
            .filter-bottom {
                position: absolute;
                width: 450px;
                left: 50%;
                margin-left: -225px;
                height: 25px;
                bottom: 15px;
                .filter-label {
                    width: 60px;
                    font-size: 12px;
                    line-height: 25px;
                }
                #inlineFormCustomSelect {
                    height: 25px;
                    line-height: 25;
                    width: 150px;
                    border: 1px solid #ccc;
                    border-radius: 0;
                    color: #333;
                }
                .btn {
                    width: 64px;
                    position: relative;
                    top: -1px;
                }
            ;
            }
        }
    }
}
