<!--<div class="sketch-picker {{ className }}" [style.width]="width">
  <div class="sketch-saturation">
    <color-saturation [hsl]="hsl" [hsv]="hsv"
                      (onChange)="handleValueChange($event)"
    >
    </color-saturation>
  </div>
  <div class="sketch-controls">
    <div class="sketch-sliders">
      <div class="sketch-hue">
        <color-hue [hsl]="hsl"
                   (onChange)="handleValueChange($event)"
        ></color-hue>
      </div>
      <div class="sketch-alpha">
        <color-alpha
          [radius]="2" [rgb]="rgb" [hsl]="hsl"
          (onChange)="handleValueChange($event)"
        ></color-alpha>
      </div>
    </div>
    <div class="sketch-color">
      <color-checkboard></color-checkboard>
      <div class="sketch-active" [style.background]="activeBackground"></div>
    </div>
  </div>
  <div class="sketch-controls">
    <color-sketch-fields
      [rgb]="rgb" [hsl]="hsl" [hex]="hex"
      [disableAlpha]="disableAlpha"
      (onChange)="handleValueChange($event)"
    ></color-sketch-fields>
  </div>
  <div class="sketch-controls">
    <color-sketch-preset-colors
      [colors]="presetColors"
      (onClick)="handleBlockChange($event)"
      (onSwatchHover)="onSwatchHover.emit($event)"
    ></color-sketch-preset-colors>
  </div>
</div>-->
<div >
  <input type="text"
    class="smx-control"
    (change)="change($event)"
    [(ngModel)]="color"
    [value]="color"
    [ngStyle]="inputStyle"
    (click)="onfocus($event)"
    (blur)="onblur($event)"
    [disabled]="disabledBoolean"
    />
</div>
<div [ngStyle]="{'display': show ? 'block' : 'none', 'top': top + 'px', 'left': left + 'px'}"
     class="sketch-picker {{ className }}"
     (click)="click($event)">
  <div class="sketch-saturation">
    <color-saturation [hsl]="hsl" [hsv]="hsv"
                      (onChange)="handleValueChange($event)"
    >
    </color-saturation>
  </div>
  <div class="sketch-controls">
    <div class="sketch-sliders">
      <div class="sketch-hue">
        <color-hue [hsl]="hsl"
                   (onChange)="handleValueChange($event)"
        ></color-hue>
      </div>
      <div class="sketch-alpha">
        <color-alpha
          [radius]="2" [rgb]="rgb" [hsl]="hsl"
          (onChange)="handleValueChange($event)"
        ></color-alpha>
      </div>
    </div>
    <div class="sketch-color">
      <color-checkboard></color-checkboard>
      <div class="sketch-active" [style.background]="activeBackground"></div>
    </div>
  </div>
  <div class="sketch-controls">
    <color-sketch-fields
      [rgb]="rgb" [hsl]="hsl" [hex]="hex"
      [disableAlpha]="disableAlpha"
      (onChange)="handleValueChange($event)"
    ></color-sketch-fields>
  </div>
  <div class="sketch-controls">
    <color-sketch-preset-colors
      [colors]="presetColors"
      (onClick)="handleBlockChange($event)"
      (onSwatchHover)="onSwatchHover.emit($event)"
    ></color-sketch-preset-colors>
  </div>
</div>
