<div [ngClass]="{'maputnik-layout':true,'geoStyle':layerListHide}" [ngStyle]="{'opacity':printStatus?0:1}">
  <!--左侧面板-->
  <div class="maputnik-layout-layer" *ngIf="editStatus === 1">
    <header [ngClass]="{'maputnik-layer-list-back':true,'hide':layerListHide}">
      <span class="maputnik-layer-list-back-icon" title="返回" (click)="back()"></span>
      <span class="maputnik-layer-list-back-title">{{title}}</span>
    </header>
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let item of navTab;let i = index;">
        <button
          [ngClass]="{'nav-link':true,'disab':!loaded,'active': tabIndex === i}" [disabled]="!loaded"
          (click)="tabToggle(i)">{{item}}</button>
      </li>
    </ul>
    <div class="tab-content">
      <div [ngClass]="{'tab-pane':true, 'active':tabIndex === 0}" [hidden]="tabIndex !== 0">
        <div [ngClass]="{'maputnik-layer-list':true,'hide': layerListHide}">
          <smx-tree [map]="mapObj"
                    [maplayer]="listItem"
                    [mapId]="mapId"
                    [mapJson]="mapJson"
                    [panelShow]="panelShow"
                    (layerClick)="smxTreeClick($event)"
          ></smx-tree>
        </div>
        <div [ngClass]="{'show':panelShow}" class="maputnik-layout-drawer"
             [ngStyle]="{'top':info.type === 'map' && editStatus === 1?'32px':'0px','height': mapType === 'map' && info.isEdit === 1?'calc(100% - 32px)':'100%'}">

          <!--地理图层-->
          <app-layers *ngIf="!staType || staType === ''|| staType=== 'geo';else other"
                      [mapType]="mapType"
                      [layerInfo]="itemData"
                      [layerIndex]="layerIndex"
                      [layerEditor]="layerEditor"
                      [mapObj]="mapObj">
          </app-layers>

          <!--其它图层-->
          <ng-template #other>
            <ng-container [ngSwitch]="staType">
              <!--              栅格-->
              <ng-container *ngSwitchCase="'raster'">
                <raster-panel
                  [layerInfo]="itemData"
                  [mapType]="mapType"
                  [isBottom]="false">
                </raster-panel>
              </ng-container>
              <!--              统计-->
              <ng-container *ngSwitchDefault>
                <app-sta-main
                  [mapStyle]="mapJson"
                  [layer]="relatedLayers"
                  [mapType]="mapType"
                  [staType]="staType"
                  [layerIndex]="layerIndex"
                  [type]="'map'"
                  [map]="mapObj">
                </app-sta-main>
              </ng-container>
            </ng-container>

          </ng-template>

          <span *ngIf="mode === 1" [ngClass]="{'slideBtn1':true,'open':!panelShow }"
                (click)="closePanel()"></span>
        </div>
      </div>
      <div [ngClass]="{'tab-pane':true, 'active':tabIndex === 1}" *ngIf="tabIndex === 1">
        <app-mini-program [mapJson]="mapJson" [mapObj]="mapObj" [editStatus]="editStatus"
                          [vistInfo]="info" (showPopue)="receiveMiniProgramInfo($event)"></app-mini-program>
      </div>
    </div>
  </div>


  <!--地图查看模式下左侧信息栏-->
  <div class="mapInfo" *ngIf="info.type === 'map' && editStatus === 0">
    <div class="maputnik-layer-list-back">
      <span class="maputnik-layer-list-back-icon" title="返回" (click)="back()"></span>
      <span class="maputnik-layer-list-back-title">{{title}}</span>

    </div>
    <div class="left-tab-panel">
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="'地图信息'" [nzActive]="true">
          <div class="container">
            <div class="row">
              <div class="col-4">地图ID</div>
              <div class="col-8">{{info.mapId}}</div>
            </div>
            <div class="row">
              <div class="col-4">地图描述</div>
              <div class="col-8">{{info.description}}</div>
            </div>
            <div class="row">
              <div class="col-4">创建日期</div>
              <div class="col-8">{{info.version * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
            <div class="row">
              <div class="col-4">修改日期</div>
              <div class="col-8">{{info.update_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
            <div class="row">
              <div class="col-4">URL</div>
              <div class="col-8">{{info.url}}</div>
            </div>
            <div class="row">
              <div class="col-4">浏览次数</div>
              <div class="col-8">{{info.visitCount}}</div>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>

  <!--地图容器-->
  <div class="mapContainer">
    <div style="height: 32px;background: #3b8cd0;" *ngIf="mapObj && mapType === 'map' && info.isEdit === 1">
      <app-toolbar [map]="mapObj" [loaded]="loaded" [config]="basemap_config"
                   (exportEvent)="reaseView($event)" (inspectClick)="reciveInspectClick()">
      </app-toolbar>
    </div>
    <div class="mapMng" id="map" style="background: #ccc;"
         [ngStyle]="{'height':mapObj && mapType === 'map' && info.isEdit === 1?'calc(100% - 32px)':'100%'}"></div>
    <span class="mapLoading" [ngStyle]="{'display': loaded? 'none': ''}"></span>
  </div>

  <!-- ./assets/img/llcs.png  -->
  <!--<span class="mapLoading" [ngStyle]="{'display': loaded? 'none': ''}">地图加载中,请稍候...</span>-->

  <!--扩展功能-->
  <!--<div [ngClass]="{'extendToolsContainer':true,'show':toolsContainerShow}" *ngIf="editStatus === 1">-->
  <!--<div [ngClass]="{'extendTools':true, 'open':true, 'show': !isToolShow}" (click)="toolsShow()"><i-->
  <!--class="fa fa-plus"-->
  <!--title="扩展功能"></i>-->
  <!--</div>-->
  <!--<div [ngClass]="{'extendTools':true, 'close':true, 'show': isToolShow}" (click)="toolsHide()"><i-->
  <!--class="fa fa-close"-->
  <!--title="关闭"></i>-->
  <!--</div>-->
  <!--<div [ngClass]="{'toolsWrap':true,'show':isToolShow}">-->
  <!--<div class="extendTools btn1" title="设置最大缩放级别" (click)="setZoom()"><i class="fa fa-plus-circle"></i></div>-->
  <!--<div class="extendTools btn2" title="设置最小缩放级别" (click)="setZoom()"><i class="fa fa-minus-circle"></i></div>-->
  <!--<div class="extendTools btn3" title="固定视窗" (click)="setBound()"><i class="fa fa-tv"></i></div>-->
  <!--<div class="extendTools btn4" title="保存当前视窗" (click)="setCenter('map')"><i class="fa fa-star"></i></div>-->
  <!--</div>-->
  <!--</div>-->

  <!--发布按钮-->
  <button
    *ngIf="mapType === 'geo' && info.isEdit === 1"
    class="map-sta-publish"
    [disabled]="loaded? false: true"
    [ngClass]="{'hide':publishHide}"
    (click)="reaseView('public')"
    [ngStyle]="{'top':info.type === 'map'? '90px': '120px'}">
  </button>


  <!--样式绘制按钮-->
  <button
    *ngIf="mapType === 'geo' && info.isEdit === 1 && dataConfig.isedit !== 0 && dataConfig.type !== 'view'"
    [disabled]="drawloaded? false: true"
    (click)="switchMode()"
    class="llcn-custom-btn"
    [ngClass]="{'mode-switch-style': mode === 1,'mode-switch-edit': mode === 2}">
  </button>

  <!--切换底图按钮-->
  <button
    *ngIf="mapType === 'geo' && info.isEdit === 1"
    class="llcn-custom-btn map-btn-toggle"
    [disabled]="loaded? false: true"
    (click)="toggleMap()">
  </button>


  <!--视窗-->
  <div *ngIf="mapObj && mapType === 'geo' && editStatus === 1"
       class="show extendToolsContainer">
    <div class="show extendTools open" (click)="setCenter('geo')"
         [ngStyle]="{'top':mode === 1? '270px':(info.geo_type === '30' || info.geo_type === 30)? '380px':'340px'}">
      <i class="fa fa-star" title="保存当前视窗"></i>
    </div>
  </div>


  <!--面合并-->
  <div *ngIf="loaded && mapType === 'geo' && mode === 2 && (info.geo_type === '30' || info.geo_type === 30 || info.geo_type === 'POLYGON')"
       class="union" title="面合并">
    <img src="../../../assets/img/union.png" style="width: 20px;height: 20px" loading="lazy"/>
  </div>

  <!--图层最佳视野-->
  <div *ngIf="mapObj && mapType === 'geo' && editStatus === 1"
       class="show extendToolsContainer">
    <div class="show extendTools open" (click)="getBestCenter()"
         [ngStyle]="{'top':mode === 1? '310px':(info.geo_type === '30' || info.geo_type === 30)? '416px':'376px'}">
      <i class="mode-switch-center" title="图层最佳视野"></i>
    </div>
  </div>
</div>
<!--打印处理页面-->
<div *ngIf="printStatus">
  <img [src]="imgUrl" id="img" style="width: 100%;height: 100%;position: fixed;z-index: 9999;top: 0;bottom: 0;left: 0;right: 0;" loading="lazy">
</div>

<!-- 版本删除提示 -->
<div class="toast-wrap" *ngIf="tipMsg.length > 0">
  <div class="toast-info" [ngClass]="{'hide': tipShow === true}" *ngFor="let v of tipMsg">
    <i class="smx-toast-icon smx-toast-icon-warning"></i>{{v.msg}}
    <span class="smx-toast-icon smx-toast-icon-close" (click)="toastHide(v, 0)"></span>
  </div>
</div>
