<ng-container *ngIf="modalType === 'terms';else modal">
  <smx-drag-modal [header]="'用户服务协议'" [maximizable]="true">
    <div class="agreementContainer">
      <div class="wrap">
        <h3>1. 特别提示</h3>
        <p>1.1
          Sm@rtMapX用户服务协议（以下简称“本协议”）是用户与服务供应商（北京灵图软件技术有限公司，以下简称“本公司”）就《Sm@rtMapX》的服务（以下简称“本服务”）及产品应用的相关事宜所订立的法律协议。</p>
        <p>1.2
          在使用本服务前，请您务必仔细阅读本服务条款，特别限制或免除责任的相应条款，一旦您选择同意本服务条款或使用本服务，即表示您充分了解并完全接受本服务条款。用户选择同意本服务条款或使用本服务，将被视为用户已经完全了解并同意本服务条款的所有条款，包括本公司对服务协议随时所做的任何修改。如果用户不接受本服务条款，可以停止使用本服务。</p>

        <h3>2. 服务介绍</h3>
        <p> 2.1 本服务是由本公司研发、拥有和运营的空间位置大数据可视化服务。</p>
        <p>2.2
          本服务提供的内容指本公司通过本服务所提供的任何内容，不论该内容是否由本公司创造或被其第三方许可使用，包括但不限于地图及地理数据、摄影图像、卫星影像、地址数据、实施交通路况、动态轨迹模拟、地图样式个性化配置、统计专题地图绘制、企业数据查询方案定制、供开发者使用的全面的API、SDK和其他相关内容（以下简称为“相关内容”）。</p>
        <p>2.3
          本公司保留随时变更、中断或终止部分或全部服务的权利。本公司在调整上线本服务提供的服务种类或形式之前，会及时发布公告通知用户。用户同意接受本公司通过电子邮件、手机客户端、网页或其他合法方式向用户发送系统升级维护、产品推荐信息或其他相关告知性信息。</p>
        <p>因业务调整给用户造成的损失，本公司不承担任何责任。请您理解并同意，本公司保留发布本服务后续版本以及要求您获得并使用本服务最新版本的权利。</p>
        <p>2.4 本服务仅提供相关服务，除此之外与相关服务有关的设备（如移动电话、平板电脑、电脑及其他与接入互联网有关的设备或装置）及所需的费用（如为接入互联网而支付给运营商的电话费及上网费等）均应由用户自行负担。</p>
        <p>2.5 用户在使用本服务的软件、数据或相关服务的过程中，本公司可能会对部分服务的用户收取一定的费用。在此情况下，本服务会在相关界面上做明确的提示。如用户拒绝支付该项费用，则不能使用相应的服务。</p>
        <h3>3. 免责声明</h3>
        <p> 3.1
          本服务力求信息的准确、及时、可靠，但受条件所限仍不能确保信息的完全准确性，因此本服务所提供的信息仅供您参考。本公司不担保本服务一定能满足用户的要求，用户也应理解在服务使用过程中可能出现意外中断情况。对因本服务及时性、安全性、准确性、真实性、完整性、稳定性等方面问题所产生的不良结果，本公司不承担任何责任，但本公司将尽力减少因以上原因而给用户造成的损失和影响。</p>
        <p>3.2
          用户驾驶交通工具（包括但不限于机动车或非机动车）时操作手机可能会导致严重的交通事故及人身伤害，用户必须充分意识到此类风险的存在并避免在驾驶机动车或非机动车的同时操作手机。用户完全知晓驾驶交通工具时使用本服务所存在的风险（包括但不限于因第三方原因所致的人身伤害及财产损失，或对第三方造成人身伤害及财产损失等），明确同意由此产生的相关责任将完全由用户自己承担，本公司不承担任何责任。</p>
        <p>3.3
          本服务展示的地图信息、交通信息及其他信息可能因为天气状况以及地震、海啸等自然灾害，城市规划和建设，政府交通管制，道路通行状态临时调整等原因，而导致与实际情况不同，故本服务展示的地图信息、交通信息及其他信息仅作为参考之用，用户需以实际情况为准。如用户因本服务所展示的信息与实际情况不符而遭受任何损害的，本公司不承担任何责任。</p>
        <p>3.4
          用户将照片、个人信息等资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或用做其它非法用途，用户应充分意识到此类风险的存在。用户明确同意其使用本服务所存在的风险（包括但不限于受到第三方侵权或对第三方造成侵权等）将完全由其自己承担；因其使用本服务而产生的一切后果也由其自己承担，本公司不承担任何责任。</p>
        <p>3.5 本公司不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由本服务实际控制的任何网页上的内容，本公司不承担任何责任。</p>
        <p>3.6 对于因不可抗力或本公司不能控制的原因造成的本服务中断或其它缺陷，本公司不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
        <p> 3.7
          根据有关法律法规，用户经由本服务上传、张贴、分享、发送电子邮件或以任何其它方式传送的任何文字、软件、声音、图片、视频或其它资料，均由内容提供者承担责任。在任何情况下，本公司均不为任何内容负责，包括但不限于任何内容的任何错误或遗漏，以及经由本服务以张贴、发送电子邮件或其它方式传送任何内容而产生的任何损失或损害。但本公司有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关部门报告。</p>
        <p>3.8 根据相关法律法规要求，本公司对非法转载，虚假发布、盗版行为的发生会进行必要监控，但不具备充分的监控能力，本公司对第三方实施的此类侵权行为不承担法律责任，侵权的法律责任由侵权者承担。</p>
        <p>3.9
          根据有关法律法规，在中华人民共和国境内公开出版地图、引进地图、展示、登载地图以及在生产加工的产品上附加地图图形，应当遵守法律规定进行地图审核。送审操作由用户自行负责，如因用户操作导致地图绘制问题，本公司不承担法律责任。</p>
        <p>3.10
          本公司将会不定期按照《地图管理条例》、《公开地图内容表示若干规定》等法规对用户发布在本服务上的地图及数据进行审核。在审核中如果用户编制的地图存在违反测绘及相关法律法规等情况危害到国家主权完整及安全时，本公司将会告之，并不予其在Sm@rtMapX产品平台上公开，有争议的内容将上报自然资源部或相关上级单位，听取政府管理部门处置意见。</p>
        <h3>4. 隐私保护</h3>
        <p> 4.1 保护用户隐私是本公司的一项基本政策，本公司保证不对外公开或向第三方提供用户注册资料及用户在使用本服务时存储的非公开内容，但下列情况除外：
        </p>
        <ul class="textList">
          <li>事先获得用户的明确授权。</li>
          <li>根据有关的法律法规要求。</li>
          <li>按照相关政府主管部门的要求。</li>
          <li>为维护社会公众的利益。</li>
          <li>维护本公司的合法权益。</li>
        </ul>
        <p>4.2
          为提供更好的服务，本服务会收集一些有关设备级别的事件（如程序崩溃等）的信息，并暂时将这些信息与能够识别您的终端设备的标识号码关联在一起。本服务会收集一些终端设备特定信息（如设备ID、设备类型、屏幕大小、运营商等），这可能是独一无二的，或是包含用户认为是私人信息的内容，但这些信息并不能够让本公司识别用户的身份。</p>
        <p> 4.3 本公司不会主动收集用户的个人身份信息（如姓名、身份信息等）。若用户自愿提供这些信息，则本公司将借助这些信息向用户提供更好的用户体验和提高我们的服务质量。</p>
        <p>4.4
          当用户使用定位功能时，会向本服务发送您的位置、速度等信息，目的是为了利用这些信息进行整体性的集成数据分析，并以此为基础提升整体数据质量和服务质量，向包括您在内的更广泛的用户提供更加准确及时的位置服务。本公司保证不向任何第三方暴露用户的真实位置，除非用户自主选择共享位置给用户的好友。同时在本服务提供的个性化的服务中，依据用户在服务中的设置，对用户的历史位置信息进行分析，以提供个性化的、统计性的、预测性的定制信息服务。</p>
        <p> 4.5 本公司可能会与第三方合作向用户提供相关服务，在此情况下，如该第三方同意承担与本公司同等的保护用户隐私的责任，则本公司将授权第三方通过本服务定义接口调用加密的用户数据，本公司保证第三方不会获取用户资料。</p>
        <p>4.6 在不透露单个用户隐私资料的前提下，本公司有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
        <h3>5. 使用规则</h3>
        <p>5.1 用户在使用本服务过程中，必须遵循以下原则：</p>
        <ul class="textList">
          <li>遵守中国有关的法律和法规（包括但不限于测绘、地图相关的法律法规）；</li>
          <li>不得为任何非法目的而使用本服务系统；</li>
          <li>遵守所有与本服务有关的网络协议、规定和程序；</li>
          <li>不得利用本服务系统进行任何可能对互联网的正常运转造成不利影响的行为；</li>
          <li>不得利用本服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</li>
          <li>不得宣扬或实施危害国家主权、国家安全、国家秘密、国家统一、国家荣誉、国家利益、民族关系、民族团结、社会秩序、社会稳定、公序良俗的行为；</li>
          <li>不得宣扬或实施煽动民族仇恨或民族歧视的、破坏民族团结的、破坏国家宗教政策的、宣扬邪教和封建迷信的、散布谣言的、扰乱社会秩序的、破坏社会稳定的、侮辱的、诽谤的、淫秽的、色情的、暴力的、恐怖的、教唆犯罪的行为；
          </li>
          <li>不得宣扬或实施含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵或其它道德上令人反感的内容的行为；</li>
          <li>不得利用本服务系统进行任何不利于本公司的行为；</li>
          <li>如发现任何非法使用用户帐号或出现安全漏洞的情况，应立即告知本公司；</li>
          <li>不得利用本服务以任何形式侵害任何人的专利、商标、商业秘密、著作权或其他知识产权。</li>
        </ul>
        <p>5.2 如用户在使用本服务时违反任何上述规定，本公司或其授权人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容等、暂停或终止用户使用本服务的权利）以减轻用户不当行为造成的影响。</p>
        <p> 5.3
          用户在使用本服务的过程中，本公司会根据服务需要要求用户提供相关资料，包括但不限于用户个人资料。如个人资料有任何变动，需及时更新。若用户提供任何错误、不实、过时、不完整或具误导性的资料；或者本公司有理由怀疑前述资料为错误、不实、过时、不完整或具误导性的，本公司有权暂停或终止用户的帐号，并拒绝用户于现在和未来使用本服务的全部或任何部分，如出现上述情况，本公司将通过电子邮件方式通知用户暂停或终止服务。</p>
        <p> 5.4 用户的帐号和密码由用户负责保管。用户同意：</p>
        <ul class="textList">
          <li>用户需妥善保存自己的帐号和密码，遭到未获授权的使用，或者发生其它任何安全问题时，用户将立即修改密码或通知本公司。</li>
          <li>非因本服务的过错，对于任何人利用该帐号或密码所进行的任何行为，用户应负完全的责任。对于因此而产生的任何损失，本公司不承担任何责任。</li>
          <li>用户要对其帐户中的所有活动和事件负全责。如果用户未保管好自己的帐号和密码而对用户、本公司或第三方造成的损失，用户将负全部责任。</li>
        </ul>
        <h3>6. 内容所有权</h3>
        <p>6.1
          本服务提供的服务内容可能包括：文字、软件、声音、图片、视频、图表等。所有这些内容受版权、商标和其它财产所有权法律的保护。用户可将这些内容或服务用于个人学习、研究或欣赏，以及其他非商业性或非盈利性用途。除此以外，将本服务用于其他用途时，须征得本网站及相关权利人的书面许可，并支付报酬。用户在使用本服务时，必须完整展现本服务的图标或版权信息，不得随意以任何方式对其进行改变、移除或遮蔽，若您有具体需求，请与本公司联系。</p>
        <p> 6.2 用户不得随意打印、出版本服务中提供的文字、数据、图片等任何内容，不能擅自复制、再造这些内容、或创造与内容有关的派生产品，若您有具体需求，请与本公司联系。</p>
        <p>6.3
          本公司鼓励用户充分利用本服务自由地张贴和共享自己的信息，但这些内容必须位于公共领域内，或者用户拥有这些内容的所有权或使用权。同时，用户对于其创作并在本服务上发布的合法内容依法享有著作权及其相关权利。用户不应通过本服务张贴其他第三方受版权保护的内容。本公司如果收到正式版权投诉，将会删除这些内容。</p>
        <p> 6.4
          用户同意对其在本服务张贴的内容，包括文字、声音、图片、视频、图表等内容，授予本公司免许可费、永久有效、不可撤销、非独家及可完全再授权的权利在全球使用、复制、修改、改写、改编、发行、翻译、创造衍生性作品，或将前述内容（部分或全部）加以散布、表演、展示，或放入利用任何现在已知和未来开发出的形式、媒介和技术的其它著作作品中。
          凡违反以上条款的任何单位或个人，本公司具有法律追究权利。</p>
        <h3>7. 第三方权利保护</h3>
        <p>7.1
          对于用户发布于本服务的所有内容，相关法律责任均由发布者自行承担。本公司作为提供信息存储空间的网络服务提供者，仅负有依照相关法律法规对侵害第三方权益的内容予以删除的义务。当权利人发现发布于本服务的任何内容侵犯其合法权益时，权利人应向本公司发出书面通知，要求本公司删除该等内容或者断开与该等内容的链接。通知书应当包含以下内容（且权利人应当对通知书的真实性负责）：
        </p>
        <ul class="textList">
          <li>权利人的姓名（名称）、身份证明（单位登记证明）复印件、联系方式和地址；</li>
          <li>要求删除或者断开链接的侵权内容的名称和网络地址；</li>
          <li>权利人对涉嫌侵权内容拥有商标权、著作权和/或其他依法可以行使权利的权属证明；</li>
          <li>权利人签字（加盖公章）。</li>
        </ul>
        <p> 7.2
          本公司在接到上述权利人的通知书后，将立即删除涉嫌侵权的内容，或者断开与涉嫌侵权内容的链接，并同时将通知书转送提供内容的用户（“发布用户”）；发布用户网络地址不明、无法转送的，本公司将把通知书的内容同时在本服务公告。</p>
        <p> 7.3
          发布用户接到本公司转送的通知书后，认为其提供的内容未侵犯他人权利的，可以向本公司提交书面说明，要求恢复被删除的内容，或者恢复与被断开的内容的链接。书面说明应当包含下列内容（发布用户应当对书面说明的真实性负责）：
        </p>
        <ul class="textList">
          <li>发布用户的姓名（名称）、身份证明（单位登记证明）复印件、联系方式和地址；</li>
          <li>要求恢复或者恢复链接的内容的名称和网络地址；</li>
          <li>发布用户对该等内容拥有商标权、著作权和/或其他依法可以行使权利，不构成侵权的证明材料；</li>
          <li>发布用户签字（加盖公章）。</li>
        </ul>
        <p>7.4 本公司接到发布用户的书面说明后，可以恢复被删除的内容，或者恢复与被断开的内容的链接，同时将上述发布用户的书面说明转送权利人。</p>
        <p>7.5 所有上述通知、说明及相关材料应书面发送至以下地址：
          北京灵图软件技术有限公司 导航事业部Sm@rtMapX项目组收
          地址：北京市海淀区东北旺南路29号蓝海中心A座
          邮编：100193</p>
        <p>7.6
          上述权利人和发布用户应保证其所发送通知书和说明的真实性和准确性，并且相应承担本公司上述删除和恢复行为的所有法律责任（包括但不限于本公司因此而支付或发生的调查费、交通费、公证费、诉讼费或仲裁费、律师费等各项费用），本公司依法对上述删除和恢复行为不承担任何责任。</p>
        <h3>8. 知识产权</h3>
        <p>
          用户了解并同意，本服务及使用本服务获取的相关内容为含有受到相关知识产权及其它法律保护的专有信息。用户了解并同意，经由本服务或广告商向用户呈现的赞助广告或信息所包含的内容，受到著作权、商标、服务商标、专利权或其它知识产权的法律保护。未经本公司或广告商明示授权，用户不得修改、出租、出借、出售、散布本服务或内容的任何部分或全部，或据以制作衍生作品，或使用擅自修改后的软件，包括但不限于为了未经授权而使用本服务的目的。本服务仅授予用户个人、不可移转及非独家的使用权，用户不得（并不得允许任何第三方）复制、修改、制作衍生产品、进行反向工程、反向编译，或以其它方式获取原代码，或出售、转让、再授权，或以其它方式转移软件的任何权利。用户同意通过由本服务所提供的界面而非任何其它途径使用本服务。</p>
        <h3>9. 服务变更、中断或终止</h3>
        <p>9.1 如因系统维护或升级的需要而需暂停本服务，本公司将尽可能事先进行通告。</p>
        <p>9.2 如发生下列任何一种情形，本公司有权随时中断或终止向用户提供本服务而无需对用户或任何第三方承担任何责任：</p>
        <ul class="textList">
          <li>用户提供的个人资料不真实；</li>
          <li>用户违反本协议中规定的使用规则；</li>
          <li>用户有发布违法信息、严重违背社会公德、以及其他违反法令禁止性规定的行为；</li>
          <li>用户在使用收费服务时，未按规定支付相应费用；</li>
          <li>电信网络系统软硬件设备故障、失灵或人为操作的疏失；</li>
          <li>他人或恶意软件入侵攻击本服务的网络，造成网站数据被篡改、删除或伪造；</li>
          <li>不可抗力原因，包括但不限于天灾、战争、暴动、政府管制（包括拒绝或取消任何出口或其他必要的许可）或其他超出合理控制范围的影响事件；</li>
          <li>其他基于相关法律或国家政策的规定。</li>
        </ul>
        <p>9.3 除前款所述情形外，本公司同时保留在不事先通知用户的情况下随时中断或终止部分或全部本服务的权利，对于所有服务的中断或终止而造成的任何损失，本公司无需对用户或任何第三方承担任何责任。
        </p>
        <h3>10. 违约赔偿</h3>
        <p>用户同意保障和维护本服务及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给本公司或任何其他第三方造成损失，用户同意承担由此造成的损害赔偿责任。</p>
        <h3>11. 链接</h3>
        <p>
          本服务或第三方可提供与其它互联网上的网站或资源的链接。由于本公司无法控制这些网站及资源，用户了解并同意对于此类网站或资源是否可供使用，本公司不承担任何责任，存在或源于此类网站或资源的任何内容、广告、产品或其它资料，本公司不予保证或负责。因使用或依赖任何此类网站或资源发布的或经由此类网站或资源获得的任何内容、商品或服务所产生的任何损害或损失，本公司不承担任何责任。</p>
        <h3>12. 条款修改</h3>
        <p>12.1 本公司有权随时修改本服务条款的有关条款，一旦本服务条款的内容发生变动，本公司将会通过适当方式进行提示。</p>
        <p>12.2 如果不同意本公司对本服务条款相关条款所做的修改，用户有权停止使用本服务。如果用户继续使用本服务，则视为用户接受本公司对本服务条款相关条款所做的修改。</p>
        <h3>13. 法律管辖</h3>
        <p>13.1 本服务条款的订立、执行和解释及争议的解决均应适用中国法律。</p>
        <p>13.2 因本协议引起的或与本协议有关的任何争议，各方应友好协商解决；协商不成的，任何一方均可将有关争议提交至北京市海淀区人民法院裁决。</p>
        <h3>14. 其他规定</h3>
        <p>14.1 本服务条款构成双方对本服务条款的约定事项及其他有关事宜的完整协议，除本服务条款规定的之外，未赋予本服务条款各方其他权利。</p>
        <p>14.2 如本服务条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效并且有约束力。</p>
      </div>
    </div>
  </smx-drag-modal>
</ng-container>
<ng-template #modal>
  <!--标题区-->
  <div id="header">
    <div [ngSwitch]="config.header">
      <!--默认-->
      <div class="smx-modal-header" *ngSwitchDefault>
        <h4 class="modal-title">{{config.title}}</h4>
        <span aria-hidden="true" class="close" (click)="activeModal.dismiss()">&times;</span>
      </div>

    </div>

    <!--主体区-->
    <div id="body">
      <div [ngSwitch]="config.body">
        <!--内容展示-->
        <div class="smx-modal-body" *ngSwitchCase="1">
          <div class="form-group">
            <span class="control-label">{{config.view}}</span>
          </div>
        </div>
        <!--提示框-->
        <div class="modal-body" *ngSwitchDefault>
          <div id="confime">
            <div class="smx_down_modal form-group">
              <span class="deleteData-waring"></span>
              <span for="recipient-name"
                    class="control-label">{{config.view}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="footer">
      <div [ngSwitch]="config.footer">
        <!--没有底部按钮-->
        <div *ngSwitchCase="1"></div>
        <!--默认-->
        <div class="modal-footer" *ngSwitchDefault>
          <button type="button" class="smx-btn smx-outline-default smx-grid" (click)="activeModal.dismiss('close')">取消
          </button>
          <button type="button" class="smx-btn smx-default smx-grid" (click)="activeModal.close()" id="smx-app">确定
          </button>
        </div>
      </div>
    </div>


  </div>
</ng-template>
